.subject_box{
    background-color:rgba(255, 255, 255, 0.72);
    padding:1em;
    width:250px;
    height:380px;
    float: left;
    margin:2em;
    box-shadow:3px 3px 2px;
    cursor: pointer;
    
    transition-duration:0.3s; }

.subject_box:hover{
    box-shadow:15px 15px 20px ;
    transform:scale(1.0001);
    }

.subject_main{
    height:150px;
}

.subject_end{
    text-align:center;
    font-weight: 600;
    font-size:1.5em;
    width:1.6em;
    height: 1.6em;
    border-radius:100px;
    border:1px solid black;
    position:relative;
    bottom:0px;
padding:0.2em;
cursor: pointer;
}




.subject_image{
    position: relative;
    top:0px;
    height: 120px;
    overflow: hidden;
    
    
}

.subject_content{
    position: relative;
    bottom:0px;
    text-align:justify;
    height:200px;
}

.subject_heading{
    position: relative;
    top:0px;
    font-size:1.5em;
    text-align:left;
}
.sb{
   margin:auto;
}
.sb:after {
    content: "";
    display: table;
    clear: both;
  }


.hours{
    float:right;
}

.syllabus_content{
    padding:10px;
}

.closer{float:right;
padding:3px;}

.syllabus_content li:hover{
    text-decoration:none;
    font-weight:0;
    
}
.syllabus_content li{
    font-size:1em;
}